<!DOCTYPE html>
<html lang="<%= lang %>" class="scrollbar-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="<%= keywords %>" />
    <meta name="description" content="<%= description %>" />
    <meta name="revised" content="<%= revised %>" />
    <meta name="author" content="<%= author %>" />
    <title><%= title %> &nbsp; | &nbsp; AlgoScene</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <link rel="stylesheet" href="/styles/contents/<%= contentKey %>.css" />
    <link rel="stylesheet" href="/styles/code-highlight.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
    </style>
  </head>

  <body class="pt-[var(--header-height)] font-['Open_Sans',sans-serif]">
    <div id="bg" class="fixed top-0 left-0 -z-10 h-full w-full bg-linear-[#2e334f_0%,_#4f547d_100%]"></div>
    <%- Header %>
    <main class="mx-[var(--space)] space-y-[var(--space)] py-[var(--space)]" style="--space: 0.5rem">
      <div id="visualizer" class="fullscreen:p-[var(--space)] fullscreen:bg-linear-[#2e334f_0%,_#4f547d_100%] flex w-full flex-col items-center space-y-[var(--space)]">
        <div id="frame" class="relative aspect-video overflow-hidden rounded-[2em]" style="background: #1d2033"></div>
        <div id="control-bar" class="flex h-12 w-full min-w-[620px] items-center space-x-4 rounded-xl bg-[#2f3453] px-3">
          <div class="flex h-full items-center">
            <button id="content" class="relative flex h-[70%] cursor-pointer items-center justify-center rounded-md border-[0.1rem] border-white bg-[#3E456E] pl-[0.5em] font-[600] text-white transition-transform duration-300" data-show-select-class="-translate-y-[0.2em]" type="button" title="<%= contentSelection %>">
              <span id="content-value"><%- ContentValues %></span>
              <span id="content-char" class="transform px-[calc(var(--space-x)/4)] text-[1.5em] transition-transform duration-500" data-show-select-class="rotate-180">▾</span>
              <div id="content-selection" class="pointer-events-none absolute bottom-[80%] left-0 rounded-[0.5em] border-[0.1em] border-white bg-[#272c4a] py-[0.25em] text-center whitespace-nowrap opacity-0 transition-[opacity_bottom] duration-500" data-show-class="bottom-[110%] opacity-100" data-hide-class="bottom-[80%] opacity-0 pointer-events-none"><%- ContentOptions %></div>
            </button>
          </div>
          <div id="controllers" class="flex h-full flex-1 items-center fill-white" data-button-class="flex h-[var(--btn-h)] cursor-pointer" data-svg-class="pointer-events-none m-auto h-[var(--btn-icon-h)]" style="--btn-h: 70%; --btn-icon-h: 80%">
            <div class="left flex h-full items-center space-x-2">
              <button class="backward" title="<%= backward %>" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.5 440.6c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-320c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4L288 214.3l0 41.7 0 41.7L459.5 440.6zM256 352l0-96 0-128 0-32c0-12.4-7.2-23.7-18.4-29s-24.5-3.6-34.1 4.4l-192 160C4.2 237.5 0 246.5 0 256s4.2 18.5 11.5 24.6l192 160c9.5 7.9 22.8 9.7 34.1 4.4s18.4-16.6 18.4-29l0-64z" /></svg>
              </button>
              <button class="play-pause" data-titles="<%= play %>|<%= pause %>|<%= replay %>" type="button">
                <svg class="play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z" /></svg>
                <svg class="pause hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M48 64C21.5 64 0 85.5 0 112L0 400c0 26.5 21.5 48 48 48l32 0c26.5 0 48-21.5 48-48l0-288c0-26.5-21.5-48-48-48L48 64zm192 0c-26.5 0-48 21.5-48 48l0 288c0 26.5 21.5 48 48 48l32 0c26.5 0 48-21.5 48-48l0-288c0-26.5-21.5-48-48-48l-32 0z" /></svg>
                <svg class="replay hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M48.5 224L40 224c-13.3 0-24-10.7-24-24L16 72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8L48.5 224z" /></svg>
              </button>
              <button class="forward" title="<%= forward %>" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416L0 96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3l0 41.7 0 41.7L52.5 440.6zM256 352l0-96 0-128 0-32c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29l0-64z" /></svg>
              </button>
            </div>
            <div id="progress" class="flex h-full flex-1 items-center space-x-2 px-4">
              <div class="seekbar relative h-2 flex-1 rounded-full bg-white" style="--progress: 0%">
                <div class="absolute top-0 left-0 h-full w-[var(--progress)] rounded-[inherit] bg-[#767676] transition-[width] duration-[var(--delay)]"></div>
                <div class="absolute top-[50%] left-[var(--progress)] aspect-square h-[150%] -translate-[50%] transform rounded-full bg-[#0086D4] transition-[left] duration-[var(--delay)]"></div>
              </div>
              <span class="font-bold text-white"><span class="current">0</span><span>/</span><span class="total">0</span></span>
            </div>
            <div class="right flex h-full items-center space-x-2">
              <button class="customize-input" title="<%= customizeInput %>" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M64 64C28.7 64 0 92.7 0 128L0 384c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-256c0-35.3-28.7-64-64-64L64 64zm16 64l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM64 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zm80-176c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM160 336c0-8.8 7.2-16 16-16l224 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-224 0c-8.8 0-16-7.2-16-16l0-32zM272 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM256 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zM368 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM352 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zM464 128l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16zM448 240c0-8.8 7.2-16 16-16l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32zm16 80l32 0c8.8 0 16 7.2 16 16l0 32c0 8.8-7.2 16-16 16l-32 0c-8.8 0-16-7.2-16-16l0-32c0-8.8 7.2-16 16-16z" /></svg>
              </button>
              <button class="setting relative" title="<%= settings %>" style="--duration: 500ms" type="button">
                <svg class="transform transition-transform duration-[var(--duration)]" data-show-class="-rotate-30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336a80 80 0 1 0 0-160 80 80 0 1 0 0 160z" /></svg>
                <div id="visualizer-settings" class="absolute -right-full bottom-[120%] z-10 translate-y-[10%] transform rounded-md border-[1.5px] border-[#d1d1d1] bg-[#1D2033] p-2 text-sm text-white opacity-0 transition-[opacity_transform] duration-[var(--duration)]" data-show-class="!opacity-100 !translate-y-0 !pointer-events-auto">
                  <div class="flex items-center justify-start space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M32 0C14.3 0 0 14.3 0 32S14.3 64 32 64l0 11c0 42.4 16.9 83.1 46.9 113.1L146.7 256 78.9 323.9C48.9 353.9 32 394.6 32 437l0 11c-17.7 0-32 14.3-32 32s14.3 32 32 32l32 0 256 0 32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-11c0-42.4-16.9-83.1-46.9-113.1L237.3 256l67.9-67.9c30-30 46.9-70.7 46.9-113.1l0-11c17.7 0 32-14.3 32-32s-14.3-32-32-32L320 0 64 0 32 0zM288 437l0 11L96 448l0-11c0-25.5 10.1-49.9 28.1-67.9L192 301.3l67.9 67.9c18 18 28.1 42.4 28.1 67.9z" /></svg>
                    <span><%= delay %>:</span>
                    <input id="visualizer-delay" class="spin-button-hidden rounded-md border-[1.5px] border-[#d1d1d1] px-1 py-0.5 focus:border-[#179fff]" type="number" max="9999" min="50" title="<%= delay %>" placeholder="" />
                    <span>ms</span>
                  </div>
                </div>
              </button>
              <button class="fullscreen" data-titles="<%= fullScreen %>|<%= exitFullScreen %>" type="button">
                <svg class="expand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M32 32C14.3 32 0 46.3 0 64l0 96c0 17.7 14.3 32 32 32s32-14.3 32-32l0-64 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 32zM64 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-64zM320 32c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 0 64c0 17.7 14.3 32 32 32s32-14.3 32-32l0-96c0-17.7-14.3-32-32-32l-96 0zM448 352c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0c17.7 0 32-14.3 32-32l0-96z" /></svg>
                <svg class="compress hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M160 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 64-64 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l96 0c17.7 0 32-14.3 32-32l0-96zM32 320c-17.7 0-32 14.3-32 32s14.3 32 32 32l64 0 0 64c0 17.7 14.3 32 32 32s32-14.3 32-32l0-96c0-17.7-14.3-32-32-32l-96 0zM352 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0 0-64zM320 320c-17.7 0-32 14.3-32 32l0 96c0 17.7 14.3 32 32 32s32-14.3 32-32l0-64 64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0z" /></svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="info-box" class="custom-scrollbar w-full overflow-auto rounded-xl bg-[#1d2033] p-5 text-sm text-white lg:fixed lg:top-[calc(var(--header-height)+var(--space))] lg:right-[var(--space)] lg:bottom-[var(--space)] lg:mb-0 lg:min-w-95 xl:min-w-105" style="--scrollbar-track-color: white"><%- InfoContents %></div>
      <div id="code-box" class="w-full rounded-xl bg-[#242840] px-2.5 py-5">
        <div id="codebox-header" class="flex h-12">
          <div id="prolangs" class="h-full overflow-hidden rounded-t-md" data-active-class="bg-[#1f1f1f]"><%- Prolangs %></div>
          <div></div>
        </div>
        <div id="codes" class="custom-scrollbar relative mb-2 overflow-visible rounded-md rounded-tl-none bg-[#1f1f1f] font-[monospace] text-sm" style="--scrollbar-thumb-color: #434343"><%- CopyCodeBtn %><%- MainCodes %></div>
        <div id="usage-box">
          <div id="usage-header" class="flex h-7">
            <div class="flex h-full items-center overflow-hidden rounded-t-md border-t-[0.085rem] border-t-[#0078d4] bg-[#1f1f1f] text-sm text-[#f2f2f2]">
              <div class="icon flex aspect-square h-full items-center pr-1 pl-1.5"></div>
              <span>usage.</span>
              <span class="extension pr-2"></span>
            </div>
            <div></div>
          </div>
          <div id="usages" class="custom-scrollbar relative overflow-x-auto rounded-md rounded-tl-none bg-[#1f1f1f] font-[monospace] text-sm" style="--scrollbar-thumb-color: #434343"><%- CopyCodeBtn %><%- UsageCodes %></div>
        </div>
      </div>
    </main>
    <div id="pop-ups" class="pointer-events-none fixed top-0 right-0 bottom-0 left-0 z-200 flex items-center justify-center bg-[#00000099] opacity-0 transition-opacity duration-200" data-hide-class="pointer-events-none opacity-0" data-show-class="pointer-events-auto opacity-100" data-box-class="bg-[#e0f5ff] transition-transform duration-400" data-box-hide-class="translate-y-[20%] pointer-events-none" data-box-show-class="translate-y-0 pointer-events-auto">
      <div id="customize-input" class="w-[50%] space-y-0.5 overflow-y-auto rounded-xl px-4 py-2.5" style="--max-h: 80%">
        <div class="relative w-full bg-inherit text-[1.125rem]">
          <span class="opacity-0">|</span>
          <div class="absolute top-[45%] h-[10%] w-full bg-[#1f1f1f]"></div>
          <span class="absolute top-[calc(50%-0.08em)] left-[50%] inline-block -translate-[50%] transform bg-inherit px-[0.5em] font-bold text-[#1f1f1f]"><%= customizeInput %></span>
        </div>
        <textarea class="custom-scrollbar min-h-25 w-full resize-none rounded-md bg-[#1f1f1f] p-2.5 font-[monospace] text-[1rem] text-[#cccccc] transition-[opacity,transform]" style="--scrollbar-thumb-color: #434343" name="<%= customizeInput %>" title="<%= customizeInput %>" placeholder=""></textarea>
        <div class="h-6.5 space-x-1 text-right text-sm font-bold">
          <button class="close-btn h-full cursor-pointer rounded-sm border-2 border-[red] px-3 text-[red]" title="<%= close %>" type="button"><%= close %></button>
          <button class="apply-btn h-full cursor-pointer rounded-sm bg-[green] px-3 text-white" title="<%= apply %>" type="button"><%= apply %></button>
        </div>
      </div>
    </div>
    <div id="config" class="hidden"><%- config %></div>
    <script type="module" src="/scripts/tailwind-support.js"></script>
    <script type="module" src="/scripts/content-page.js"></script>
    <script type="module" src="/scripts/contents/<%= contentKey %>.js"></script>
  </body>
</html>
